body {
  margin: 50px;
}

.generic-button-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  margin: 0;
  padding: 0;
  font-size: large;
}

nav ul li {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 30px;
}

.generic-button {
  color: black;
  background-color: white;
  text-decoration: none;
  border: solid 2px;
  padding: 20px;
}

.generic-button:hover {
  background-color: lightblue;
}

.events {
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(3, 1fr);
}

.event {
  text-decoration: none;
  color: black;
  border: solid 2px;
  padding: 20px;
}

.event:hover {
  background-color: lightgray;
}

.event-title {
  font-weight: 600;
  font-size: large;
}

.event-info h1 {
  border: solid 2px;
  padding: 20px;
  margin-bottom: 20px;
}

.event-description {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-right: 50px;
}

.event-description {
  border: solid 2px;
  border-radius: 25px;
  padding: 10px;
  margin-bottom: 30px;
}

.attendees {
  
}