{% extends "base_generic.html" %}

{% block content %}
  <h1>Title: {{ event.title }}</h1>
  <p>Details: {{ event.details }}</p>
  <p>Date: {{ event.date }}</p>
  <p>Location: {{ event.location }}</p>

  <div class="unattend-form">
    <form action="{% url 'event-attend' pk=event.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" value="Attend" class="attend-button">
    </form>
  </div>
  
  <p>Attendees:</p>
  {% for attendee in event.attendees.all %}
    <p>{{ attendee.username }}</p>
    {% if user.username == attendee.username %}
      <div class="unattend-form">
        <form action="{% url 'event-unattend' pk=event.pk %}" method="post">
            {% csrf_token %}
            <input type="submit" value="Unattend" class="unattend-button">
        </form>
      </div>
    {% endif %}
  {% endfor %}
{% endblock %}