{% extends "base_generic.html" %}

{% block content %}
  <h2>Created Events</h2>

  {% if event_list %}
  <ul>
    {% for event in event_list %}
      <li><a href="{% url 'event-detail' event.pk %}">{{ event.title }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no created events.</p>
  {% endif %}
  
  <h2>Attended Events</h2>

  {% if attended_upcoming_events_list %}
  <div class="user-upcoming-events">
    <h3>Upcoming</h3>
    <ul>
      {% for event in attended_upcoming_events_list %}
      <li><a href="{% url 'event-detail' event.pk %}">{{ event.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
  {% endif %}
  
  {% if attended_past_events_list %}
  <div class="user-past-events">
    <h3>Past</h3>
    <ul>
      {% for event in attended_past_events_list %}
      <li><a href="{% url 'event-detail' event.pk %}">{{ event.title }}</a></li>
      {% endfor %}
    </ul>
    {% else %}
      <p>There are no attended events.</p>
    </div>
  {% endif %}

{% endblock %}