<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Private Events</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
  <h1>Private Events!</h1>
  <nav>
    <ul class="generic-button-flex">
      <li><a class="generic-button" href="{% url 'index' %}">Events</a></li>
      {% if user.is_authenticated %}
        <li><a class="generic-button" href="{% url 'myevents' %}">MyEvents</a></li>
        <li><a class="generic-button" href="{% url 'event_create' %}">Create new event</a></li>
        <li><a class="generic-button" href="{% url 'logout' %}">Logout</a></li>
      {% else %}
        <li><a class="generic-button" href="{% url 'login' %}">Login</a></li>
      {% endif %}
      </ul>
  </nav>
  {% block content %}{% endblock %}
</body>
</html>